/* Sweep To Right */
.add-cart-btn {
    background-color: #ffffff;
    border-color: #d9d9d9;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
    width: 90%;
}

.add-cart-btn.hvr-sweep-to-right {
    padding: 20px;
    /* background: lightgrey; */
    display: inline-block;
    transform: perspective(1px) translateZ(0);
    position: relative;
    transition: color 0.3s;
    border: 1px solid transparent;
    background-color: #ffffff;
    border-color: #d9d9d9;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
    font-size: 14px;
    height: 32px;
    padding: 4px 15px;
    border-radius: 6px;
}

.add-cart-btn.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: #51acd6;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.3s ease-out;
    border-radius: 5px;
}

.add-cart-btn.hvr-sweep-to-right:hover {
    /* background: #9fdefb;
    color: rgb(38, 37, 37);
    cursor: pointer; */
    background: #83b9e973;
    color: rgb(38, 37, 37);
    cursor: pointer;
    border: 1px solid #80808063;
}

.add-cart-btn.hvr-sweep-to-right:hover:before {
    transform: scaleX(0);
}

.add-cart-btn.hvr-sweep-to-right:disabled {
    background-color: #b0afaf30;
  color:rgb(143, 143, 143);
}

.add-cart-btn.hvr-sweep-to-right:disabled:hover {
    background-color: #b0afaf30;
    cursor: no-drop;
    transform: scaleX(1);
}

.add-cart-btn.hvr-sweep-to-right:disabled:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: scaleX(1);
    background-color: #b0afaf30;
}
.btn_notFound{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_notFound button{
    color: white;
    background-color: #51acd6;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    transition: all .5s;
}
.btn_notFound button:hover{
    background-color: black;
    cursor: pointer;
}