.ButtonDarkMode_darkMode {
    position: fixed;
    bottom: 40px;
    left: 10px;
    z-index: 10;
}
.ButtonDarkMode_darkMode button {
    background-color: black;
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    opacity: .6;
    border: 1px solid white;
    transition: all .5s;
}
.ButtonDarkMode_darkModee button:hover{
    opacity: 1;
}
.ButtonDarkMode_darkMode button i{
    font-size: 20px;
}
.dark .ButtonDarkMode_darkMode button{
    background-color: white;
    color: black;
}