@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}
.background {
    background: #f6f9fc;
    padding: 50px 0;
}
.dark .background{
    background-color: #242526;
}
.dark .product{
    background-color: #3a3b3c;
}
.container {
    max-width: 90%;
    margin: auto;
}
.d_flex {
    display: flex;
    justify-content: space-between;
}
.algin-center {
    align-items: center
}
.d_flex_jus_center {
    display: flex;
    justify-content: center;
}
.d_flex_col {
    display: flex;
    flex-direction: column;
}
.c_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.f_flex {
    display: flex;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}
.uppercase {
    text-transform: uppercase;
}
.dark h1:last-child,
.dark h2:last-child ,
.dark h3:last-child,.dark h4:last-child,
.dark h5:last-child{
    color: #e4e6eb;
}
.capitalize {
    text-transform: capitalize;
}
.RText {
    text-align-last: right;
}
input,
button {
    border: none;
    outline: none;
    background-color: none;
}
.row {
    width: 50%;
}
.icon-circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #f3f5f9;
    margin-left: 20px;
    text-align: center;
    border-radius: 50%;
}
.dark .icon-circle{
    background-color: #3a3b3c;
}

.boxShadow {
    box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
}

/*---------category----------*/
.contentWidth {
    width: 77%;
}
.contentWidthHome {
    width: 100%;
}
.category {
    box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
    background-color: #fff;
    width: 23%;
    height: 510px;
    padding: 15px 0;
    border-radius: 5px;
    margin-top: 5px;
}
.filter {
    box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
    background-color: #fff;
    width: 19%;
    height: 100%;
    padding: 15px;
    border-radius: 5px;
    margin-top: 5px;
}
.dark .filter {
    background-color: #3a3b3c;
    color: #e4e6eb;
}
.dark :where(.css-dev-only-do-not-override-sk7ap8).ant-checkbox+span,
.dark :where(.css-dev-only-do-not-override-sk7ap8).ant-select .ant-select-arrow,
.dark :where(.css-dev-only-do-not-override-sk7ap8).ant-pagination .ant-pagination-options-quick-jumper,
.dark :where(.css-dev-only-do-not-override-sk7ap8).ant-pagination,
.dark :where(.css-dev-only-do-not-override-sk7ap8).ant-pagination .ant-pagination-disabled .ant-pagination-item-link, 
.dark :where(.css-dev-only-do-not-override-sk7ap8).ant-pagination .ant-pagination-disabled:hover .ant-pagination-item-link,
.dark :where(.css-dev-only-do-not-override-sk7ap8).ant-pagination .ant-pagination-prev .ant-pagination-item-link, 
.dark :where(.css-dev-only-do-not-override-sk7ap8).ant-pagination .ant-pagination-next .ant-pagination-item-link,
.dark :where(.css-dev-only-do-not-override-sk7ap8).ant-pagination li a,
.dark :where(.css-dev-only-do-not-override-sk7ap8).ant-pagination .ant-pagination-options-quick-jumper input{
    color: #e4e6eb;
}
.dark :where(.css-dev-only-do-not-override-sk7ap8).ant-checkbox-group label{
    border: 1px solid #b2b2b2;
}
.dark :where(.css-dev-only-do-not-override-sk7ap8).ant-btn-default{
    background-color: #3a3b3c;
    color: #e4e6eb;
}
.dark :where(.css-dev-only-do-not-override-sk7ap8).ant-tree,
.dark :where(.css-dev-only-do-not-override-sk7ap8).ant-select:not(:where(.css-dev-only-do-not-override-sk7ap8).ant-select-customize-input) .ant-select-selector,
.dark :where(.css-dev-only-do-not-override-sk7ap8).ant-pagination .ant-pagination-item-active{
    background-color: #3a3b3c;
    color: #e4e6eb;
}
.dark :where(.css-dev-only-do-not-override-sk7ap8).ant-pagination .ant-pagination-options-quick-jumper input{
    background-color: #3a3b3c;
}
.dark :where(.css-dev-only-do-not-override-sk7ap8).ant-pagination .ant-pagination-item-active{
    border-color: #3a3b3c;
}
.category img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    object-fit: contain;
}
.category span {
    margin: 10px 20px;
    text-transform: capitalize;
}
.category .box {
    transition: 0.5s;
    padding: 0 20px;
}
.category .box:hover {
    background-color: #ffe1e6;
    cursor: pointer;
}

/*---------category----------*/
.btn-primary {
    background: #e94560;
    padding: 13px 40px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
}
.top {
    margin-top: 80px;
}
.mtop {
    margin-top: 40px;
}
.heading i {
    color: #e94560;
    margin: 10px;
}
.discount {
    position: absolute;
    bottom: 20px;
    left: 138px;
    /* top: 0; */
    /* left: 0; */
    background: #e94560;
    padding: 0px 5px;
    font-size: 12px;
    border-radius: 10px;
    color: #fff;
    margin: 0px;
}

.countdown {
    position: absolute;
    top: 0;
    right: 0;
    background: #e94560;
    padding: 0px 7px;
    font-size: 12px;
    border-radius: 10px;
    color: #fff;
    margin: 0px;
}
.countdown span {
    color: #fff !important;
}
/*---------product-----------*/
.product {
    background: #fff;
    padding: 20px;
    position: relative;
    border-radius: 8px;
    box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
    margin: 10px;
}

.product h3 {
    font-weight: 400;
    font-size: 17px;
}
.product h3{
    color: black;
}
.dark .product h3{
    color: #e4e6eb;
}
.product .rate i {
    font-size: 15px;
    color: #ffcd4e;
    margin: 5px 5px 5px 0;
}
.product .price {
    display: flex;
    justify-content: space-between;
    color: #e94560;
}
.price button {
    background: none;
    color: #e94560;
    font-size: 20px;
    transition: 0.5s;
    border: 1px solid rgb(3 0 71 / 9%);
    width: 35px;
    height: 35px;
    border-radius: 5px;
}
.dark .heading .heading-right{
    color: #e4e6eb;
}
.price button:hover {
    cursor: pointer;
    background-color: #e94560;
    color: #fff;
}
.product-like {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    opacity: 0;
    transition: 0.5s;
}
.dark .product-like{
    right: -14px;
}
.dark .product-like svg{
    color: #e94560;
}
.product-like label {
    font-size: 20px;
}
.product-like i {
    font-size: 20px;
    margin: 10px 3px;
}
.product:hover .product-like {
    opacity: 1;
}
/*---------product-----------*/
/*----- control btn -------*/
.control-btn .next,
.control-btn .prev {
    position: absolute;
    top: 40%;
    width: 40px;
    height: 40px;
    /* line-height: 60px; */
    background: #0f3460;
    border-radius: 50%;
    transform: 0.5s;
    z-index: 5;
}
.control-btn .prev {
    left: -20px;
}
.control-btn .next {
    right: -20px;
}
.control-btn .prev i,
.control-btn .next i {
    font-size: 20px;
    transition: 0.5s;
    color: #fff;
}
.control-btn .prev:hover,
.control-btn .next:hover {
    background: #e94560;
    color: white;
    cursor: pointer;
}
/*----- control btn -------*/
/*----- heading -------*/
.heading .heading-left i {
    font-size: 30px;
}
.heading .heading-left h2 {
    font-size: 25px;
    margin: 5px;
}
.heading .heading-right i,
.heading .heading-right {
    text-align: right;
    color: #e94560;
}
/*----- heading -------*/
.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;
}
.grid2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

/*----- sizing -------*/
.w-100 {
    width: 100%;
}

.w-100-im {
    width: 100% !important;
}
/*----- sizing -------*/
